@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/poppins-v20-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/poppins-v20-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/poppins-v20-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/poppins-v20-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

/* Base */
body {
  color: var(--color-primary-dark);
  font-size: 18px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  line-height: 1, 5;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
}
/* всі марковані перелікі будуть без крапки */

/* Button */
.button {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  /* при наведенні курсор змінюється на долонь */
}

button:hover {
  color: var(--color-brand-dark);
  background-color: transparent;
  text-decoration: none;
  /* щоб не було підкреслення */
}
/* інтерактив: змінює колір при наведенні на прозорий */

button:focus {
  background-color: #ceeaa4;
}

/* Link */
.link {
  color: var(--color-primary-light);
  text-decoration: none;
}

.link:hover {
  color: var(--color-brand-light);
  font-weight: 600;
}

/* Hero section */
.hero-title {
  color: var(--color-primary-light);
  font-family: Poppins, sans-serif;
  font-size: 128px;
  font-weight: 900;
  text-align: center;
}

.hero-title span {
  color: var(--color-brand-light);
}

/* advanteges section */
.advanteges-list {
  color: var(--color-primary-light);
  background-color: var(--color-brand-light);
}

.advanteges-item {
  font-size: 20px;
  font-weight: 300;
}

.section-title {
  color: var(--color-primary-dark);
  font-size: 64px;
  font-weight: 900;
  line-height: 1, 3;
}

.section-title .accent {
  color: var(--color-brand-dark);
  font-family: Poppins, sans-serif;
}

/* traditions-text */
.traditions-text span {
  color: var(--color-brand-light);
  text-transform: uppercase;
  font-weight: 600;
}

.traditions-minutes span {
  color: var(--color-brand-light);
}

/* Chefs section */
.chef-title {
  font-size: 40px;
  font-weight: 600;
}

/* Format section */
.format-title {
  font-size: 24px;
  font-weight: 600;
}

.format-text {
  font-size: 14px;
  font-weight: 300;
}

/* Footer */
.address-link {
  color: var(--color-primary-light);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  /* щоб не було підкреслення */
}

.address-link:hover {
  color: var(--color-brand-light);
}

.addres-copiright {
  font-size: 14px;
  font-weight: 400;
}
